@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --font-dmserif: 'DM Serif Display', serif;
  --font-dmsans: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-dmsans);
  padding: 1rem;
}

.App {
  font-family: var(--font-dmsans);
  padding: 2rem 4rem;
}

h1 {
  font-family: var(--font-dmserif);
  font-size: 3rem;
  line-height: 4.5rem;
}

h2 {
  font-family: var(--font-dmserif);
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .05rem;
}

p {
  color: #3f4146;
  font-weight: 300;
}



@media screen and (min-width: 1280px) {
  body {
    padding: 0 4rem;
  }

  h1 {
    font-size: 4rem;
  }

  

}